<h1>
  <%= t('showing', name: t('product.name', count: 1)) %>
</h1>

<div class="card">
  <%= image_tag(@product.avatar_url, class: 'card-img-top') if @product.avatar? %>

  <div class="card-body">
    <h5 class="card-title">
      <%= @product.name %>
    </h5>

    <%= link_to t('edit'), edit_product_path(@product), class: 'btn btn-primary', role: :button %>
    <%= link_to t('index'), products_path, class: 'btn btn-outline-secondary', role: :button %>
  </div>
</div>
